.dropdown-check-list {
  display: inline-block;
  width: 16px;
  position: absolute;
  bottom: 1px;
  right: 5px;
}
.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
}

.dropdown-check-list ul.dropdown-items {
  padding: 2px;
  display: none;
  margin: 4px 0 0 -126px;
  border: 1px solid green;
  position: absolute;
  background: white;
  width: 140px;
  max-height: 140px;
  overflow-y: scroll;
  z-index: 250;
}
.dropdown-check-list ul.dropdown-items li {
  list-style: none;
  font-size: 80%;
}

.dropdown-check-list ul.dropdown-items li > label {
  display: block;
  font-size: 100%;
  padding: 0;
}

#tests-list > ul {
  width: 240px;
  margin-left: -226px;
}

#tests-list > ul > li {
  white-space: nowrap;
  border-bottom: 1px green dashed;
}

#tests-list > ul > li:last-child {
  border: none;
}

#tests-list > ul > li > label > span {
  white-space: normal;
  vertical-align: middle;
  font-size: 80%;
  display: inline-block;
  max-width: 200px;
}
