<!DOCTYPE html>
<html>

<head>
  <title>ICSD Entry</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="css/ui.css" />
  <link rel="stylesheet" type="text/css" href="css/full.css" />
  <script type="text/javascript" src="js/full.js"></script>

</head>
<body>
<h1 class="title"><#chem_name/></h1>
<div style="padding: 10px 20px;">
  <a class="button" href="?id=<#idnum/>&amp;type=cif">Save CIF file</a>&nbsp;&nbsp;&nbsp;
  <a class="button" href="?id=<#idnum/>&amp;type=jsmol" target="jsmol">Display in JSmol</a>
</div>

<div>
  <div class="float-like">
    <table>
      <tbody>
        <tr>
          <td><span class="b">Recorded</span><br /><span class="date"><#rec_date/></span></td>
          <td>
            <span class="b">Modified</span><br /><span class="date"><#mod_date/></span><#skip:mod_date/>
          </td>
        </tr>
        <tr><td colspan="2"><span class="b">Collection Code</span><br /><#coll_code/></td></tr>
        <tr>
          <td colspan="2"><span class="b">Sum formula</span><br /><span class="ce"><#sum_form/></span></td>
        </tr>
        <tr><td colspan="2"><span class="b">Structured formula</span><br /><span class="ce"><#struct_form/></span></td></tr>
        <tr>
          <td>
            <span class="b">Structure type</span><br /><#struct_type/><#skip:struct_type/>
          </td>
          <td
           title="<#add_name/> (<#min_origin/>)"
           >
            <span class="b">Mineral</span><br /><#min_name/><#skip:min_name/>
          </td>
        </tr>
        <tr>
          <td>
            <span class="b">ANX</span><br /><#anx_form/><#skip:anx_form/>
          </td>
          <td>
            <span class="b">Pearson</span><br /><#pearson/><#skip:pearson/>
          </td>
        </tr>
        <tr>
          <td>
            <span class="b">Wyckoff</span><br /><#wyck/><#skip:wyck/>
          </td>
          <td>
            <span class="b">AB</span><br /><#ab_form/><#skip:ab_form/>
          </td>
        </tr>

        <tr><td colspan="2"><span class="b">Unit cell</span><br /><span class="lattice"><#unit_cell_text/></span></td></tr>
        <tr>
          <td><span class="b">Volume</span><br /><#c_vol/> &#8491;<sup>3</sup></td>
          <td><span class="b">Z</span><br /><#z/></td>
        </tr>
        <tr>
          <td><span class="b">Space group</span><br /><#sgr_disp/> (No. <#sgr_num/>)
            NS<#skip:sgr_nonstd/>
          </td>
          <td><span class="b">System</span><br /><#cryst_sys/></td>
        </tr>
        <tr>
          <td><span class="b">M<sub>r</sub></span><br /><#mol_mass/> g / mol</td>
          <td>
            <span class="b">R-Value</span><br /><#r_val/><#skip:r_val/>
          </td>
        </tr>
        <tr>
          <td><span class="b">Density (calc)</span><br /><#dens_calc/> g / cm<sup>3</sup></td>
          <td>
            <span class="b">Density (exp)</span><br /><#dens/> g / cm<sup>3</sup><#skip:dens/>
          </td>
        </tr>
        <tr>
          <td>
            <span class="b">Temperature</span><br /><#temperature/> K<#skip:temperature/>
            <i>(default)</i><#skip:temperature_is_default/>
          </td>
          <td>
            <span class="b">Pressure</span><br /><#pressure/> bar<#skip:pressure/>
            <i>(default)</i><#skip:pressure_is_default/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="float-like">
    <table>
      <tbody>
        <tr>
          <td><span class="b">Publication</span><br /><#au_title/></td>
        </tr>
        <tr>
          <td><span class="b">Author(s)</span><br /><span class="author"><#authors_text/></span></td>
        </tr>
        <tr>
          <td>
            <span class="b">Reference(s)</span><br />
            <#loop:references/>
            <a href="http://dx.doi.org/<#doi/>" target="_blank"><#skip:doi/>
              <#ref_seq/>) <#j_title/> (<#year/>), <#volume/>(<#issue/>), <#page_first/>.
            </a><#skip:doi/>
            <br />
            <#loop/>
          </td>
        </tr>

        <tr>
          <td>
            <span class="b">Remarks</span><br /><#skip:remarks/>
            <#loop:remarks/>
            <span class="rem"><#std_rem_code/>:</span> <#std_remark/> <#add_rem/><br />
            <#loop/>
          </td>
        </tr>
        <tr>
          <td>
            <span class="b">Test codes</span><br /><#skip:tests/>
            <#loop:tests/>
            <span class="rem"><#test_flag_code/>:</span> <#desc_new/><br />
            <#loop/>
          </td>
        </tr>

        <tr>
          <td>
            <span class="b">Comments</span><br /><#skip:comments/>
            <#loop:comments/>
            <#comments/><br />
            <#loop/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <div class="float-like atom-list">
    <table>
      <thead>
        <tr><th>Atom</th><th>Ox</th><th>Site</th><th>x</th><th>y</th><th>z</th><th>SOF</th>
          <th>H</th><#skip:elsH_header/>
          <th>ITF(<#itf_header/>)</th><#skip:itf_header/>
        </tr>
      </thead>
      <tbody>
        <#loop:atom_list/>
        <tr><td><#el_symbol/><#el_label/></td><td><#ox_text/></td><td><#w_mult/><#w_lett/></td><td><#x_text/></td><td><#y_text/></td><td><#z_text/></td><td><#sof_text/></td><#skip:x_val/>
        <tr><td><#el_symbol/><#el_label/></td><td><#ox_text/></td><td colspan="5">Position of <#h_d/> atoms is undetermined.</td><#skip:h_d/>
          <td><#els_h/></td><#skip::elsH_header/>
          <td><#itf_text/></td><#skip::itf_header/>
        </tr>
        <#loop/>
      </tbody>
    </table>
  </div>

  <div class="float-like atom-list">
    <table>
      <thead>
        <tr><th>Atom</th><th>Beta(1,1)</th><th>Beta(2,2)</th><th>Beta(3,3)</th><th>Beta(1,2)</th><th>Beta(1,3)</th><th>Beta(2,3)</th></tr><#skip:atf_header!=B/>
        <tr><th>Atom</th><th>B(1,1)</th><th>B(2,2)</th><th>B(3,3)</th><th>B(1,2)</th><th>B(1,3)</th><th>B(2,3)</th></tr><#skip:atf_header!=C/>
        <tr><th>Atom</th><th>U(1,1)</th><th>U(2,2)</th><th>U(3,3)</th><th>U(1,2)</th><th>U(1,3)</th><th>U(2,3)</th></tr><#skip:atf_header!=D/>
      </thead>
      <tbody>
        <#loop:atom_list/>
        <tr><td><#el_symbol/><#el_label/></td><td><#tf11_text/></td><td><#tf22_text/></td><td><#tf33_text/></td><td><#tf12_text/></td><td><#tf13_text/></td><td><#tf23_text/></td></tr><#skip:atf_code/>
        <#loop/>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
